<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List Employees</title>
</head>

<body>
    <table>
        <% for(var i=0; i < data.length; i++) { %>
            <tr>
                <td>
                    <%= data[i].employeeId %>
                </td>   
                <td>
                    <%= data[i].firstName %>
                </td>
                <td>
                    <%= data[i].lastName %>
                </td>
                <td>
                    <%= data[i].address %>
                </td>
                <td>
                    <%= data[i].salary %>
                </td>
                <td>
                    <%= data[i].contact %>
                </td>
            </tr>
            <% } %>
    </table>

    <br>
    <a href="AddEmployee">Add Employee</a>
</body>

</html>